* {
    margin: 0;
    padding: 0;
}


/*en-tête*/

header {
    background-color: rgb(123, 107, 107);
    height: 5em;
    border-bottom: solid 2px #f8b89b;
}

@media screen and (max-width: 740px) {
    .container-fluid {
        width: 100%;
        padding-right: 1px;
        padding-left: 1px;
        margin-right: auto;
        margin-left: auto;
    }
}

h1,
h1 a {
    font-size: 2.5em;
    letter-spacing: 5px;
    color: #f7f5f4;
}

#basket {
    text-align: center;
}

#articlePanier,
#articleListe {
    box-shadow: 3px 3px gray, -1em 0 .4em maroon;
    margin: auto;
    margin-bottom: auto;
    margin-bottom: 3%;
    padding: 1%;
    text-align: center;
    width: 40%;
}

@media screen and (max-width: 1100px) {
    #articlePanier,
    #articleListe {
        box-shadow: 3px 3px gray, -1em 0 .4em maroon;
        margin: auto;
        margin-bottom: auto;
        margin-bottom: 3%;
        padding: 1%;
        text-align: center;
        width: 90%;
    }
}

h1 {
    font-size: 3em;
    color: #9b3d12;
    margin: auto;
    font-family: Georgia, serif;
    margin-top: 2em;
}

@media screen and (max-width: 480px) {
    h1 {
        font-size: 1.5em;
        margin: auto;
        margin-top: 2em;
        margin-bottom: -20px;
    }
}

@media all and (min-width: 481px) and (max-width: 1280px) {
    h2 {
        font-size: 1.7em;
    }
}

a {
    font-size: 1em;
}

h3 {
    font-size: 2em;
    color: #9b3d12;
    margin: auto;
    font-family: Georgia, serif;
    margin-top: 0.1em;
}

@media screen and (max-width: 767px) {
    h3 {
        font-size: 1.2em;
        color: #9b3d12;
        margin: auto;
        font-family: Georgia, serif;
        margin-top: 0.1em;
    }
}

#logo {
    width: 3em;
}

h4 {
    font-size: 1em;
    color: #9b3d12;
    margin: auto;
    font-family: Georgia, serif;
    margin-top: 0.1em;
}

p {
    font-size: 1.2em;
    color: #9b3d12;
    margin: auto;
    font-family: Georgia, serif;
    margin-top: 0.1em;
}

.nom {
    color: white;
    font-size: 2em;
    margin-left: 1em;
}

@media screen and (max-width: 767px) {
    p {
        font-size: 1em;
        color: #9b3d12;
        margin: auto;
        font-family: Georgia, serif;
        margin-top: 10px;
    }
}

#price::after {
    content: " €";
    font-size: 1em;
}

#price {
    font-size: 1.4em;
    margin-bottom: 1em;
}

.fas {
    color: #f7f5f4;
    font-size: 2.5em;
    margin-left: auto;
    margin-top: auto;
    margin-right: 10px;
    margin-bottom: auto;
}

@media screen and (max-width: 480px) {
    .fas {
        font-size: 2em;
    }
}

.fas:hover {
    cursor: pointer;
}

.container {
    margin: auto;
    height: auto;
}

.presentation {
    margin-bottom: 4em;
    text-align: center;
}

img {
    color: rgb(44, 41, 41);
    width: 20%;
    border-radius: 3px;
    border: 2px solid rgb(70, 64, 64);
    box-shadow: 1px 1px 3px rgb(75, 71, 71);
}

@media screen and (max-width: 767px) {
    img {
        width: 40%;
    }
}

@media all and (min-width: 768px) and (max-width: 1200px) {
    img {
        width: 40%;
    }
}

.ml-md-5 {
    font-size: 2em;
    text-shadow: 1px 1px 2px #715353, 0 0 1em #00ffdb, 0 0 0.2em #9f9f9f;
}

@media screen and (max-width: 740px) {
    .ml-md-5 {
        font-size: 1em;
    }
}

#prixTotal {
    text-align: center;
    font-size: 1.9em;
    color: #9b3d12;
    margin: auto;
    font-family: Georgia, serif;
}

@media screen and (max-width: 767px) {
    #prixTotal {
        font-size: 1.5em;
    }
}

#total {
    text-align: center;
    font-size: 2em;
}

form {
    text-align: center;
    margin-top: 4em;
}

input[type="text"],
input[type="email"] {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
}

input[type="submit"] {
    background-color: rgb(123, 107, 107);
    color: white;
    padding: 12px 20px;
    border: 1px solid #f8b89b;
    border-radius: 4px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #f3e9f1;
    color: #f8b89b;
}

footer {
    background-color: rgb(123, 107, 107);
    border-top: solid 2px #f8b89b;
    margin-top: 10em;
}

@media screen and (max-width: 767px) {
    footer {
        margin-top: 5em;
    }
}

footer a {
    font-size: 2em;
    color: white;
    font-family: Georgia, serif;
}

@media screen and (max-width: 767px) {
    footer a {
        font-size: 0.9em;
    }
}

@media screen and (max-width: 767px) {
    .row {
        display: flex;
        flex-wrap: nowrap;
    }
}

@media screen and (max-width: 767px) {
    .btn-group-lg>.btn,
    .btn-lg {
        padding: 0.4rem;
        font-size: 1.25rem;
        border-radius: 3rem;
    }
}

a:hover {
    color: black;
}

.btn-sm {
    background-color: rgb(123, 107, 107);
}