* {
  margin: 0;
  padding: 0; }

  /*en-tête*/
header {
  background-color: rgb(123, 107, 107);
  height: 5em;
  border-bottom: solid 2px #f8b89b;
}

@media screen and (max-width: 740px){
  .container-fluid {
    width: 100%;
    padding-right: 1px;
    padding-left: 1px;
    margin-right: auto;
    margin-left: auto;
  }
}

h1,
h1 a {
  font-size: 2.5em;
  letter-spacing: 5px;
  color: #f7f5f4; 
   }
   
h2 {
	font-size: 3em;
	color: #9b3d12;
	margin: auto;
  font-family: Georgia, serif;
  margin-top: 2em;
}

@media screen and (max-width: 480px){
  h2 {
    font-size: 0.8em;
    margin: auto;
    margin-top: 2em;
    margin-bottom: -20px;
  }
}

.fas {
	color: #f7f5f4;
	font-size: 2.5em;
	margin-left: auto;
  margin-top: auto;
  margin-right: 10px;
  margin-bottom: auto;
}

@media screen and (max-width: 480px){
  .fas {
    font-size: 2.2em;
  }
}

.fas:hover {
	cursor:pointer;
}

.container {
  margin:auto; 
  height:auto;
}

.presentation {
	margin-bottom: 4em;
  text-align: center;
}

img{
  width: 3em;
  color:rgb(44, 41, 41);
  border-radius:3px;
  border:2px solid rgb(70, 64, 64);
  box-shadow:1px 1px 3px rgb(75, 71, 71);
}

.ml-md-5{
  font-size: 2em;
  text-shadow: 1px 1px 2px #715353, 0 0 1em #00ffdb, 0 0 0.2em #9f9f9f;
}

@media screen and (max-width: 740px){
  .ml-md-5{
    font-size: 1em;
  }
}


.img_article {
    width: 350px;
    height: 250px;
    margin: 2%;
    border: 1px solid #c6c4c0
}

@media screen and (max-width: 480px){
.img_article {
  width: 100%;
  height: 250px;
  margin: 2%;
  border: 1px solid #c6c4c0;
  margin: auto;
  }
}

.article {
    margin: 3% 0 1% 8%;
    border: 1px solid #ccc;
    box-shadow: 2px 2px 6px 0px rgba(0, 0, 0, 0.3);
    display: flex;
    background-color: #51473440;
    width: 85%;
}

@media screen and (max-width: 767px){
  .article {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; 
  }
}

.name_article {
    border-bottom: 1px solid beige;
}

.bloc_gauche {
  font-family: Georgia, serif;
  font-size: 20px;
  margin-left: 15px;
  margin-top: 15px;
  text-align: justify
}

@media screen and (max-width: 767px){
  .bloc_gauche {
    font-size: 14px;
    margin-left: 2px;
    margin-top: 2px;
    text-align: center;
  }
}

.description_article {
    font-size: 90%;
    text-align: justify;
}

.bloc_droit {
    font-size: 150%;
    font-family: Georgia, serif;
    margin-top: 2em;
    margin-bottom: 2em;
}

.price_article {
    font-size: 85%;
    text-align:center;
}

@media screen and (max-width: 740px){
  .price_article {
    margin-top: -20px;
  }
}
     
.selection_article {
    top: 130px;
    font-size: 70%;
    border: 1px solid #a6b9ac;
    border-radius: 18px;
    padding: 12px;
    background-color: #afbcb3;
    text-decoration: none;
    margin-left: 40%;
}

@media screen and (max-width: 767px){
  .selection_article {
    margin-left: 0px;
    display:flex;
    justify-content: center;
  }
}

@media all and (min-width: 768px) and (max-width: 1280px) {
  .selection_article {
    display:flex;
    justify-content: center; 
  }
}

.selection_article:hover {
    background-color: #819b88;
    border: 1px solid #83a08b;
}

.article:hover {
    filter: grayscale(0%);
}

footer{
  background-color: rgb(123, 107, 107);
  border-top: solid 2px #f8b89b;
  margin-top: 10em;
}

@media screen and (max-width: 767px){
  footer{
    margin-top: 5em;
  }
}

footer a {
	font-size: 2em;
  color: white;
  font-family: Georgia, serif;
}

@media screen and (max-width: 767px){
  footer a {
    font-size: 0.9em;
  }
}

@media screen and (max-width: 767px){
  .row {
    display: flex;
    flex-wrap: nowrap;
  }
}

@media screen and (max-width: 767px){
  .btn-group-lg > .btn, .btn-lg {
  padding: 0.4rem;
  font-size: 1.25rem;
  border-radius: 3rem;
  }
}

a:hover{
	color: black;
}

.btn-sm {
  background-color:rgb(123, 107, 107);
}
